.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  padding: 15px 19px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;

  @include media-query($small) {
    padding: 8px 12px 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

.tag_sale {
  padding: 4px 14px;
  font-size: 14px;
}

.primary {
  background: #003366;
  color: #fff;

  &:visited {
    color: #fff;
  }

  &:active {
    color: #fff;
  }
}

.secondary {
  background: #fff;
  color: #003366;

  &:visited {
    color: #003366;
  }

  &:active {
    color: #003366;
  }
}
