/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */

/* ===HIDE ELEMENTS=== */
header.site-header,
iframe {
  display: none;
}

.featured-collection {
  padding: 59px 10px;
  @include media-query($small) {
    padding: 25px 9px;
  }

  .heading_container {
    padding: 0 10px;
    text-align: center;

    h1.title,
    .desc {
      width: 611px;
      margin: 0 auto;

      @include media-query($small) {
        width: auto;
      }
    }

    h1.title {
      margin-bottom: 19px;
      @include media-query($small) {
        margin-bottom: 8px;
      }
    }

    .desc {
      margin-bottom: 69px;

      @include media-query($small) {
        margin-bottom: 24px;
      }
    }
  }

  .product_container {
    width: 1374px;
    margin: 0 auto;
    font-size: 0; /* remove white spacing for inline-block*/
    @media screen and (max-width: 1374px) {
      width: auto;
      text-align: center;
    }

    a.link {
      width: 306px;
      margin: 0 17px 20px;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      @media screen and (max-width: 1374px) {
        width: 28%;
      }
      @include media-query($small) {
        width: 130px;
        margin: 0 10px 18px;
      }
    }

    .product_head {
      position: relative;
      margin-bottom: 16px;
      @include media-query($small) {
        margin-bottom: 8px;
      }

      img {
        width: 100%;
      }

      .tag_sale {
        position: absolute;
        top: 14px;
        right: 15px;
        @include media-query($small) {
          display: none;
        }
      }

      .add_cart {
        position: absolute;
        bottom: 14px;
        left: 0;
        margin: 0 18px;
        right: 0;
        z-index: 1;
        @include media-query($small) {
          display: none;
        }
      }
    }

    .product_desc {
      h5.title {
        margin: 0 0 6px;

        @include media-query($small) {
          margin: 0 0 8px;
        }
      }
    }
  }

  .view_collection {
    margin-top: 10px;
    text-align: center;
  }
}
